{% extends 'base.html' %}

{% block content %}
    <div class="dashboard-container">
        <div class="sidebar">
            <!-- Sidebar content goes here -->
            <ul>
                <li><a href="https://disk.yandex.ru/i/DXth34XVev0_sw" target="_blank">Скачать Регламент</a></li>
                <li><a href="https://disk.yandex.ru/d/TSyxs4kuHPABLg" target="_blank">Скачать Поля</a></li>
                <li><a href="https://disk.yandex.ru/d/Zhn2_5LmL4EOcg" target="_blank">Скачать Журналы</a></li>
                <li><a href="https://disk.yandex.ru/i/LZdTZbacwmdNPA" target="_blank">Скачать согласие
                    родителей</a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        <p align="center">Уважаемые коллеги, партнёры, друзья!</p>
        <p>Мы рады сообщить, что <b>10 и 11 мая 2024 года в Санкт-Петербурге</b> пройдут Международные соревнования
            по робототехнике и цифровым технологиям <b>«ДЕТалька-2024»</b>. Тематика соревнований этого сезона – <b>«Сила
                инженерии»</b>. Соревнования пройдут на площадке <b>«Точка Кипения – Санкт-Петербург» и в концертном
                зале А2</b>, в котором также пройдет торжественное открытие.</p>

        <div class="slideshow-container" align="center" >
            <div class="mySlides">
                <img src="/media/slideshow/AMG_10.webp" alt="Картинка 1">
            </div>
            <div class="mySlides">
                <img style="max-width: 60%; max-height: 40%" src="/media/slideshow/AMG-100.jpg" alt="Картинка 2">
            </div>
            <div class="mySlides">
                <img style="max-width: 60%; max-height: 40%" src="/media/slideshow/AMG-123.jpg" alt="Картинка 2">
            </div>
            <div class="mySlides">
                <img style="max-width: 60%; max-height: 40%" src="/media/slideshow/tvorcheskiy-proekt8.webp" alt="Картинка 3">
            </div>
            <div class="mySlides">
                <img style="max-width: 60%; max-height: 40%" src="/media/slideshow/AMG-132.jpg" alt="Картинка 4">
            </div>
            <div class="mySlides">
                <img style="max-width: 60%; max-height: 40%" src="/media/slideshow/AMG-176.jpg" alt="Картинка 5">
            </div>
            <div class="mySlides">
                <img style="max-width: 60%; max-height: 40%" src="/media/slideshow/AMG-221.jpg" alt="Картинка 6">
            </div>
            <!-- Add more slides as needed -->
        </div>

        <p>Целью проведения соревнований является сформировать научно-техническое и инженерное мышление обучающихся
            и стимулировать школьников и детей дошкольного возраста в выборе профессий технической и IT
            направленности.</p>

        <p>Организатор соревнований – группа компаний «Брейн Девелопмент» и «РОБОТРЕК», при поддержке:</p>
        <div align="center">
            <img style="padding: 10px;" width="50" alt="rzQEbzjn-pQ.jpg" src="../media/logos/rzQEbzjn_pQ.webp"
                 height="50"
                 title="Комитет по промышленной политике, инновациям и торговле Санкт-Петербурга">
            <img style="padding: 10px;" width="54" alt="logo-ru-2.png" src="../media/logos/logo_ru_2.webp" height="50"
                 title="Институт цифрового образования МГПУ">
            <img style="padding: 10px;" width="172" alt="Логотип IYRA.jpg" src="../media/logos/Logotip-IYRA.webp"
                 height="50"
                 title="Логотип IYRA.jpg">
            <img style="padding: 10px;" width="126" alt="itmo" src="../media/logos/itmo.png" height="50"
                 title="Университет ИТМО">
            <img style="padding: 10px;" width="50" alt="mk" src="/media/logos/mk.png" height="50"
                 title="Санкт-петербургского государственного бюджетного профессионального образовательного учреждения «Малоохтинский колледж»">
            <img style="padding: 10px;" width="49" alt="l1M5JjUniu0.jpg" src="../media/logos/l1M5JjUniu0.webp"
                 height="50"
                 title="Государственного бюджетного общеобразовательного учреждения Средняя общеобразовательная школа № 334 Невского района Санкт-Петербурга «Образовательный комплекс «Невская перспектива»">
            <img style="padding: 10px;" width="276" alt="Логотип Ассоциация Нейротехнологий.jpg"
                 src="../media/logos/Logotip-Assotsiatsiya-Neyrotekhnologiy.webp" height="50"
                 title="Логотип Ассоциация Нейротехнологий.jpg"><br>
        </div>

        <p>В Пермском крае и Республике Саха (Якутия) в марте 2024 пройдут региональные отборочные этапы (подробная
            информация в регламенте стр. 5).<br>
            Регистрация на соревнования будет осуществляться в онлайн формате на сайте <a
                    href="http://www.detalka-fest.ru/">www.detalka-fest.ru</a> с 1 ноября 2023 по 15 февраля 2024. В
            ноябре будет проведет вебинар по соревнованиям.</p>

        <p>Все вопросы по регламенту соревнований и организационные вопросы можете задать на почту: <a
                href="mailto:detalka2024@outlook.com">detalka2024@outlook.com</a></p>

        <p>С 1 ноября мы также обновим информацию по возможным пакетам участников с возможностью помощи в
            организации проживания, питания и экскурсионным программам.</p>

        <p>Организационные взносы участия в соревнованиях не предусмотрены.</p>

        <p>В рамках соревнований ДЕТалька для <b>детей дошкольного возраста</b> организованы следующие состязания:
        </p>

        <ul>
            <li>«Юный Пифагор» - миссия, в которой учащимся необходимо построить робота, способного самостоятельно
                передвигаться от зоны «старт/финиш» в зону, обозначающую правильный ответ, и вернуться назад в зону
                «старт/финиш»;
            </li>
            <li>«Занимательная математика» - задачей данного состязания является решение нескольких несложных
                арифметических примеров на сложение и вычитание и перемещение соответствующего правильному ответу
                куба в зону ответов;
            </li>
            <li>«Нейролабиринт» - миссия, в которой учащимся необходимо пройти лабиринт с помощью робота, у которого
                направление движения можно менять с помощью пульта дистанционного управления, а скорость движения
                зависит от уровня концентрации;
            </li>
            <li>«Творческий проект» по робототехнике (в т.ч. с возможностью интеграции с нейротехнологиями) и
                электротехнике.
            </li>
        </ul>

        <p><b>Дети начальной школы</b> смогут поучаствовать в направлениях:</p>

        <ul>
            <li>«Робофутбол»;</li>
            <li>«Сумо»;</li>
            <li>«Автоматическая агроферма» – движение по черной линии;</li>
            <li>«Чистый город» – как можно скорее переместить изделия для переработки к месту назначения согласно их
                категории;
            </li>
            <li>«Механик F1» – задача собрать робота, который может показать хорошие скоростные и маневровые
                характеристики на гоночной трассе;
            </li>
            <li>«Творческий проект».</li>
        </ul>

        <p><b>Для учеников средней и старшей школы</b> будут проведены состязания по следующим направлениям:</p>

        <ul>
            <li>«Автоматическая система пожаротушения леса» – движение по черной линии с дополнительными задачами;
            </li>
            <li>«Волейбол»;</li>
            <li>«Сумо»;</li>
            <li>«Компьютерное зрение» (варианты на выбор с «Витрек»/«Умной камерой») - задача запрограммировать
                робота с компьютерным зрением, способного двигаться автономно;
            </li>
            <li>«Творческий проект» по робототехнике, в т.ч. с возможностью интеграции с компьютерным (техническим)
                зрением, искусственным интеллектом, нейротехнологиями и интернетом вещей.
            </li>
        </ul>

        <p>Дети с ОВЗ любого возраста также допущены ко всем состязаниям и будут оцениваться отдельно.</p>

        <p>В рамках проведения соревнований будет организована <b>зона «Try Skills»</b>, где участники и гости
            соревнований смогут поучаствовать в различных активностях, например, поуправлять манипуляторами и
            роботами с компьютерным зрением, проверить свои силы в перетягивание каната с помощью нейроинтерфейсов и
            др.</p>

        <p>Приглашаем к участию команды из всех регионов России и наших зарубежных гостей. Мы хотим, чтобы
            соревнования ДЕТалька прошли в праздничной дружеской атмосфере в лучших традициях нашей многолетней
            истории. Чтобы площадка соревнований стала еще и местом общения и обмена опытом педагогов и наставников.
            Темы <b>деловой программы</b> будут объявлены позднее. </p>

        </p>
    </div>
    <script>
        var slideIndex = 0;

        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {
                slideIndex = 1;
            }
            slides[slideIndex - 1].style.display = "block";
            setTimeout(showSlides, 3000); // Change slide every 2 seconds (2000 milliseconds)
        }
    </script>
{% endblock %}

