<style>
    /* Modal styles */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 400px;
        border-radius: 8px;
        position: relative;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 24px;
        font-weight: bold;
        color: #888;
        cursor: pointer;
    }

    .close:hover,
    .close:focus {
        color: #000;
    }

    /* Form styles inside the modal */
    form {
        margin-top: 20px;
    }

    form label {
        display: block;
        margin-bottom: 8px;
    }

    form input[type="text"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    form button[type="submit"] {
        background-color: #4caf50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    form button[type="submit"]:hover {
        background-color: #45a049;
    }

    .plus-button {
        background-color: transparent;
        border: none;
        font-size: 16px;
        font-weight: bold;
        line-height: 1;
        cursor: pointer;
        color: #000; /* Set the color of the plus sign */
        padding: 5px;
        margin: 0;
    }

    .plus-button:hover {
        color: orangered; /* Text color on hover */
    }
</style>

{% extends 'dashboard/dashboard.html' %}

{##}
{% block embedded_page_content %}
    <div class="grid-container">
        <div class="form-container" style="max-width: 100%">
            <h2>{{ age_category.name }}</h2>
            <ul>
                {% for game_category in age_category.gamecategory_set.all %}
                    <li class="game-category-toggle">{{ game_category.name }}</li>
                    <ul class="game-list">
                        {% for game in game_category.individualgame_set.all %}
                            <li class="game">{{ game.name }}
                                <button class="plus-button" data-game-id="{{ game.id }}"
                                        onclick="openModal({{ game.id }})"
                                        {% if game.current >= game.max_participants %}disabled{% endif %}>
                                    &#43
                                </button>
                                <div class="modal" id="myModal-{{ game.id }}">
                                    <div class="modal-content">
                                        <span class="close" onclick="closeModal({{ game.id }})">&times;</span>
                                        <form method="post"
                                              action="{% url 'categories' age_category_id=age_category_id %}">

                                            {% csrf_token %}
                                            <h4>Это индивидуальная категория - 1 участник.</h4>
                                            <select name="students_for_{{ game.id }}" multiple
                                                    class="student-select"
                                                    data-game-id="{{ game.id }}">
                                                {% for student in students %}
                                                    {% if student.age_category == age_category %}
                                                        <option value="{{ student.id }}">{{ student.last_name }} {{ student.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <br>
                                            <label for="id_teacher">Тренер:</label>
                                            <select id="id_teacher" name="teacher" required>
                                                {% for teacher in teachers %}
                                                    <option value="{{ teacher.id }}">{{ teacher.last_name }} {{ teacher.name }}</option>
                                                {% empty %}
                                                    <option disabled>Нет доступных тренеров</option>
                                                {% endfor %}
                                            </select>
                                            <br>

                                            <input type="hidden" name="age_category"
                                                   value="{{ age_category.id }}">
                                            <input type="hidden" name="game_category"
                                                   value="{{ game_category.id }}">
                                            <input type="hidden" name="game" value="{{ game.id }}">
                                            <br><br><br>

                                            <button type="submit">Добавить участников</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        {% for tgame in game_category.teamgame_set.all %}
                            <li class="game">
                                {{ tgame.name }}
                                <button class="plus-button" data-game-id="{{ tgame.id }}"
                                        onclick="openModal({{ tgame.id }})"
                                        {% if tgame.current >= tgame.max_participants %}disabled{% endif %}>
                                    +
                                </button>
                                <div class="modal" id="myModal-{{ tgame.id }}">
                                    <div class="modal-content">
                                        <span class="close" onclick="closeModal({{ tgame.id }})">&times;</span>
                                        <form method="post" action="{% url 'categories' age_category_id %}">
                                            {% csrf_token %}
                                            <h4>Это командная категория - максимальное количество
                                                участников {{ tgame.max_t_participants }}.</h4>

                                            <label for="id_name">Название:</label>
                                            <input type="text" id="id_name" name="name" required>
                                            <br>

                                            <label for="id_teacher">Тренер:</label>
                                            <select id="id_teacher" name="teacher" required>
                                                {% for teacher in teachers %}
                                                    <option value="{{ teacher.id }}">{{ teacher.last_name }} {{ teacher.name }}</option>
                                                {% empty %}
                                                    <option disabled>Нет доступных тренеров</option>
                                                {% endfor %}
                                            </select>
                                            <br>

                                            <label for="id_students">Выберите участников:</label>
                                            <select id="id_students" name="students" multiple required>
                                                {% for student in students %}
                                                    {% if student.age_category == age_category %}
                                                        <option value="{{ student.id }}">{{ student.last_name }} {{ student.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>

                                            <input type="hidden" name="age_category"
                                                   value="{{ age_category.id }}">
                                            <input type="hidden" name="game_category"
                                                   value="{{ game_category.id }}">
                                            <input type="hidden" name="game" value="{{ tgame.id }}">
                                            <br><br><br>

                                            <button type="submit">Добавить команду</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
        </div>
        <div class="list-container" style="max-width: 100%">
            <h2>Список Участников</h2>
            <table class="invisible-table">
                {% for game_category in age_category.gamecategory_set.all %}
                    {% if game_category.individualgame_set.exists %}
                        {% for game in game_category.individualgame_set.all %}
                            {% for participant in game.studentgamecategory_set.all %}
                                <tr>
                                    <td>
                                        {{ participant.student.name }} {{ participant.student.last_name }}
                                        - {{ game.name }}
                                    </td>
                                    <td>
                                        <form id="deleteForm{{ participant.id }}" method="post"
                                              action="{% url 'delete_sgc' participant.id age_category_id %}">
                                            {% csrf_token %}
                                            <div class="delete-button"
                                                 onclick="submitForm('deleteForm{{ participant.id }}')">&#10006;
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </table>
            <table class="invisible-table">
                {% for team in teams %}
                    <tr>
                        <td>
                            {{ team.name }} - {{ team.game.name }}
                            <ul>
                                {% for participant in team.teamparticipant_set.all %}
                                    <li>{{ participant.student.name }} {{ participant.student.last_name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <form id="deleteTeamForm{{ team.id }}" method="post"
                                  action="{% url 'delete_team' team.id age_category_id %}">
                                {% csrf_token %}
                                <div class="delete-button" onclick="submitForm('deleteTeamForm{{ team.id }}')">
                                    &#10006;
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <script>
        function submitForm(formId) {
            document.getElementById(formId).submit();
        }

        $(document).ready(function () {
            // Hide game categories and games initially
            $('.game-category-list, .game-list').hide();

            // Toggle visibility of game categories and games on click
            $('.age-category-toggle').on('click', function () {
                $(this).next('.game-category-list').slideToggle();
            });

            $('.game-category-toggle').on('click', function () {
                $(this).next('.game-list').slideToggle();
            });

            // Initialize select2 for student and team selects
            $('.student-select, .team-select').select2();

            // Handle form submission (you need to define this logic in your view)
            $('form').on('submit', function (event) {
                event.preventDefault();
                var formData = $(this).serialize();
                var url = $(this).attr('action'); // Get the form action URL

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (response) {

                        console.log('Form submitted successfully');
                        closeModalAfterSubmission();
                        window.location.reload();
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            });

            function closeModalAfterSubmission() {
                $('.modal:visible').hide();
            }
        });

        function openModal(gameId) {
            var modal = document.getElementById("myModal-" + gameId);
            modal.style.display = "block";
        }

        function closeModal(gameId) {
            var modal = document.getElementById("myModal-" + gameId);
            modal.style.display = "none";
        }

    </script>
{% endblock %}